body {
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 2em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
	height: 70vh;
	width: 70vh;
	border: 1px solid black;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

@media (max-width: 600px) {
	canvas {
		display: block;
		height: 40vh;
		width: 40vh;
		border: 1px solid black;
	}

	h1 {
		font-size: 1.2em;
	}
}

@media (max-width: 400px) {
	canvas {
		display: block;
		height: 30vh;
		width: 30vh;
		border: 1px solid black;
	}

	h1 {
		font-size: 1em;
	}
}
